/.github
/.vscode
/tsconfig.json
/SECURITY.md
/docs
/src
/test
/.prettierrc
/.gitignore
/.prettierignore
/.tsbuildinfo
/COMMIT_CONVENTION.md
/CONTRIBUTING.md
/tsconfig.cjs.tsbuildinfo
/tsconfig.esm.tsbuildinfo
/scripts/
/tsconfig.json
/tsconfig.esm.json
/tsconfig.cjs.json